html {
  background-color: #a18c8c;
  box-sizing: border-box;
}

body h1 {
  margin: 30px;
  color: bisque;
  font-size: 40px;
}
body section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
body section div {
  height: 200px;
  padding: 5px;
  text-align: center;
  width: 20vw;
  border: 1px solid black;
  border-radius: 10%;
  color: #2d193f;
}